body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CSS reset and variables */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
}

$bg-color: #333;
$bg-color-light: #666;

/* Wrapper */
#root {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: $bg-color;
}

/* Main */
#quote-box {
  width: 80%;
  display: grid;
  margin: 10% auto 0;
  grid-template-rows: auto auto auto auto;
  height: fit-content;

  div {
    width: 100%;
    height: 100%;
  }
}

#text {
  border-top: 1px solid black;
  height: fit-content;
  min-height: 250px;
  font-size: 4em;
}

#author {
  border-bottom: 1px solid black;
  font-size: 3em;
  padding-bottom: 20px;
  font-style: italic;
}

#text, #author {
  background: repeating-linear-gradient(90deg,
    transparent 0%,
    $bg-color-light 40%,
    $bg-color-light 60%,
    transparent 100%
  );
  justify-content: center;
  display: flex;

  p {
    max-width: 80%;
  }
}

.center {
  width: fit-content;
  height: fit-content;
  flex-direction: row;
  align-self: center;
  justify-self: center;
}

#btn-box {
  display: flex;
}

#new-quote {
  margin: 10px auto;
  padding: 2px 6px;
  font-size: 1.5em;
  background-color: #444;
  border-color: #444;
  color: white;
  outline: none;
}

#social{
  text-align: center;
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

a {
  color: white;
  text-decoration: none;
}