body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CSS reset and variables */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
}

#root {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: darkgreen;
}

#drum-machine {
  margin: 0 auto;
  background-color: darkgray;
  width: 600px;
  height: 250px;
}

#display {
  display: grid;
  grid-template-columns: 50% auto;
  place-items: center;
  height: 100%;
}

#button-group {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-columns: auto auto auto;
  width: fit-content;
  gap: 8px;
}

.drum-pad {
  height: 50px;
  width: 80px;
}